<%= content_for :title do %><%= t('login').capitalize %><% end %>

<h3 class="text-center"><%= t('social_login') %>:</h3>

<div class="text-center" style="padding: 20px 0px 40px;">
	<%= link_to image_tag('icons-64/twitter.png', alt: 'Twitter', size: '64x64'), "/auth/twitter" %>
	<%= link_to image_tag('icons-64/facebook.png', alt: 'Facebook', size: '64x64'), "/auth/facebook" %>
	<%= link_to image_tag('icons-64/soundcloud.png', alt: 'Soundcloud', size: '64x64'), "/auth/soundcloud" %>
	<%= link_to image_tag('icons-64/googleplus.png', alt: "Google+", size: '64x64'), "/auth/gplus" %>
</div>

<div class="row">
	<div class="large-6 columns">
		<div class="panel">
			<div class="row">
				<div class="large-10 large-offset-1 columns">
					<h4 class="subheader"><%= t('no_social') %></h4>
					<p>
					  <%= link_to t('create_an_account'), new_identity_path %>
					  <%= t('or_login_below') %>.
					</p>

					<%= form_tag "/auth/identity/callback" do %>
					  <div class="field">
					    <%= label_tag :auth_key, "Email" %>
					    <%= text_field_tag :auth_key %>
					  </div>
					  <div class="field">
					    <%= label_tag :password %>
					    <%= password_field_tag :password %>
					  </div>

					  <div class="actions"><%= submit_tag t('login'), class: "radius button" %></div>
					<% end %>
					<p><%= link_to t('forgot_password'), forgot_password_path %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="large-6 columns">
		<h4 class="subheader">Why create an account?</h4>

		<p>Why do we require an account? We want to ensure you can
			access your purchases well into the future. By creating
			an account, you'll be able to return any time and
			access the items purchased today or any time.</p>

		<p>Rest assured that when you move to a new computer,
			you'll be able to come back and retrieve your files
			again if needed.</p>
	</div>
</div>