<h3 class="text-center"><%= t('reset_your_password').capitalize %></h3>

<div class="row">
	<div class="large-6 large-offset-3 columns">
		<div class="panel">
			<%= simple_form_for @identity, url: reset_password_path(@identity.password_reset_digest), method: :post do |f| %>
				<%= f.input :password, label: t('new_password'), input_html: { autocomplete: "off" } %>
				<%= f.input :password_confirmation, input_html: { autocomplete: "off" } %>

				<div class="actions"><%= f.submit t('submit'), class: "radius button" %></div>
			<% end %>
		</div>
		<p><%= link_to t('login'), new_session_path %></p>
	</div>
</div>
