<%= simple_form_for(@download) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :item_id %>
    <%= f.input :file_file_name %>
    <%= f.input :file_content_type %>
    <%= f.input :file_file_size %>
    <%= f.input :file_updated_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
