<%= content_for :title do %><%= t 'finalize_your_order' %><% end %>

<h1><%= t 'finalize_your_order' %></h1>

<p><%= t 'where_to_find_downloads' %></p>

<%= simple_form_for @sales_order, url: finalize_checkout_path, html: {id: "finalize_checkout"} do |f| %>
	<%= f.error_notification %>

	<h4 class="subheader"><%= t 'order_summary' %></h4>
	<ul>
		<% @sales_order.line_items.each do |line_item| %>
		<li><%= line_item.quantity %> x <%= line_item.item.name %>: 
			<%= humanized_money_with_symbol line_item.total %></li>
		<% end %>
	</ul>

	<h6 class="subheader"><%= t 'total' %>: <%= humanized_money_with_symbol @sales_order.grand_total %></h6>

	<div class="row">
		<div class="large-6 columns">
			<div class="panel">
				<h4 class="subheader"><%= t 'payment_details' %></h4>

				<%= f.hidden_field :stripe_card_token %>
				<% if @sales_order.stripe_card_token.present? %>
				  <%= t 'card_already_provided' %>
				<% else %>
				<div class="row">
				  <div class="small-12 large-12 columns">
				    <%= label_tag :card_number, t('cc_num') %>
				    <%= text_field_tag :card_number, nil, name: nil %>
				  </div>
				 </div>
				 <div class="row">
				 	<div class="small-12 large-4 columns">
				 		<%= label_tag :card_code, t('cvv') %>
				 	</div>
				 	<div class="small-12 large-8 columns">
				 		<%= label_tag :card_month, t('cc_exp') %>	
				 	</div>
				 </div>
				 <div class="row">
				 	<div class="small-12 large-4 columns">
			    		<%= text_field_tag :card_code, nil, name: nil %>
				  	</div>
				    <div class="small-6 large-5 columns">
				    	<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
				    </div>
			    	<div class="small-4 large-3 columns end">
			    		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
				    </div>
				 </div>
				<% end %>

				<div id="stripe_error">
				  <noscript><%= t 'require_javascript_message' %></noscript>
				</div>

			</div>
		</div>
	</div>	

	<%= f.submit "Submit Order", class: 'radius button' %>
	<span>(<%= t 'final_step' %>)</span>


<% end %>