<%= content_for :title do %><%= t 'new_account' %><% end %>

<h3 style="text-align: center"><%= t 'new_account' %></h3>

<div class="row">
  <div class="large-6 large-centered columns">
    <%= simple_form_for @identity, url: "/auth/identity/register" do |f| %>
      <div class="panel">
        <%= f.input :name, input_html: { name: 'name' } %>
        <%= f.input :email, input_html: { name: 'email' } %>
        <%= f.input :password, as: :password, input_html: { name: 'password' } %>
        <%= f.input :password_confirmation, as: :password, input_html: { name: 'password_confirmation' } %>
        <%= submit_tag t('register').capitalize, class: "button" %>
      </div>
    <% end %>
  </div>
</div>
