<%= content_for :title do %><%= @item.name %><% end %>

<div class="row">
	<div class="large-8 columns">
		<h1><%= @item.name %></h1>
	</div>

	<% if can? :manage, @item %>
	<div class="large-4 columns clearfix">
		<br/>
		<ul class="radius button-group right">
			<li><%= link_to t('edit'), edit_item_path(@item), class: 'tiny secondary button' %></li>
			<li><%= link_to t('delete'), @item, class: 'tiny secondary button', method: :delete, data: { confirm: t('confirm_delete') } %></li>
		</ul>
	</div>
	<% end %>
</div>

<div class="row">
	<div class="large-5 large-push-7 small-12 columns">
		<% if @item.main_image %>
			<%= link_to(
					interchange_image(@item.main_image, :medium, {
							small: 'small', medium: 'large', large: 'medium'
						}), 
					@item.main_image.image.url ) %>
		<% end  %>
		<div class="row">
			<div class="large-10 large-offset-1 columns">
				<% if @item.documents.size > 0 %>
				<h6 class="subheader"><%= t('documentation').capitalize %>:</h6>
				<ul>
					<% @item.documents.each do |d| %>
						<li><%= link_to d.document_file_name, d.document.url %></li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
	<div class="large-7 large-pull-5 small-12 columns">
		<div style="margin-bottom: 20px;">
			<%=raw textilize(@item.description) %>
		</div>

		<% if current_user && current_user.items.include?(@item) %>
			<%= link_to t('download_now'), item_download_path(@item), class: "medium success radius button" %>
		<% else %>
			<h4 class="subheader">
				<%= humanized_money_with_symbol @item.price %>
			</h4>
			<%= button_to t('add_to_cart'), add_to_cart_path(@item), class: "small radius button" %>
		<% end %>
	</div>
</div>
