<% if category.header_image_file_name.present? %>
  <h1><%= image_tag(category.header_image.url(:large_banner), alt: category.name) %></h1>
<% else %>
  <h1><%= category.name %></h1>
<% end %>

<div class="row clearfix">
  <div class="large-9 columns">
    <%=raw textilize(category.description) %>
  </div>
  <% if can? :manage, category %>
  <div class="large-3 columns clearfix">
    <ul class="radius button-group right">
      <% if can? :create, Item %>
        <li><%= link_to t('add_item'), new_category_item_path(category), class: 'tiny secondary button' %></li>
      <% end %>
      <li><%= link_to t('edit_category'), edit_category_path(category), class: 'tiny secondary button' %></li>
    </ul>
  </div>
  <% end %>
</div>

<ul class="large-block-grid-5 small-block-grid-2">
  <% category.items.accessible_by(current_ability).each do |item| %>
  <li>
    <%= link_to item do %>
      <div class="item-panel" <% if item.thumbnail %>style="background: -moz-linear-gradient(transparent, rgba(0,0,0,1)), url('<%= item.thumbnail.image.url(:medium) %>') 25% -30px no-repeat;"<% end %>>
        <h6><%= item.name %></h6>
      </div>
    <% end %>
  </li>
  <% end %>
</ul>