<%= content_for :title do %><%= t('my_collection') %><% end %>

<h1><%= t('my_collection') %></h1>

<% if current_user.items.size > 0 %>
	<div class="row">
		<div class="large-8 columns">
			<% current_user.items.each do |item| %>
			<div class="panel">
				<div class="row">
					<div class="large-8 small-8 columns">
						<h4><%= item.name %> <%= t('downloads').capitalize %>:</h4>
						<ul>
							<% item.downloads.each do |d| %>
								<li><%= link_to d.name, d.file.url %> 
									[<%= number_to_human_size(d.file_file_size) %>]
								</li>
							<% end %>
						</ul>
						<% if item.documents.size > 0 %>
						<h6 class="subheader"><%= t('documentation').capitalize %>:</h6>
						<ul>
							<% item.documents.each do |d| %>
								<li><%= link_to d.document_file_name, d.document.url %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
					<div class="large-4 small-4 columns text-center">
						<% if item.main_image %>
							<%= link_to(image_tag(item.main_image.image.url(:thumb), alt: item.name), item) %>
						<% end %>
						<p><small><%= link_to "#{item.name} details", item %></small></p>
					</div>
				</div>
			</div>
			<% end %>
		</div>

		<div class="large-4 columns">
			<h4 class="subheader"><%= t 'my_profile' %>:</h4>
			<%= render 'form' %>

			<% if current_user.provider == 'identity' %>
				<%= render 'identity_form' %>
			<% else %>
				<p><i><%= t('social_provider_message', provider: current_user.provider) %></i></p>
			<% end %>
		</div>
	</div>

<% else %>
	<p><%=t 'collection_empty' %></p>
	
	<div class="row">
		<div class="large-4 columns">
			<h4 class="subheader"><%= t 'my_profile' %>:</h4>
			<%= render 'form' %>

			<% if current_user.provider == 'identity' %>
				<%= render 'identity_form' %>
			<% else %>
				<p><i><%= t('social_provider_message', provider: current_user.provider) %></i></p>
			<% end %>
		</div>
	</div>
<% end %>
