<%# navigation styled for Zurb Foundation 5 %>
<header>
	<div class="sticky">
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="logo"><%= link_to 'Home', root_path, :class => 'brand' %></li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	  <div class="top-bar-section">
	    <ul class="right">

		<% if session[:cart_id] %>
		  <li><%= link_to 'My Cart', view_cart_path %></li>
		<% end %>

		<% if user_signed_in? %>
		  <li><%= link_to 'My Collection', profile_path %></li>
		  <li><%= link_to 'Logout', signout_path %></li>

			<% if current_user.has_role? :admin %>
			   <li class="has-dropdown"><%= link_to 'Admin', admin_root_path %>
			   	<ul class="dropdown">
			   		<li><%= link_to 'New Category', new_category_path %></li>
			   		<li><%= link_to 'New Item', new_item_path %></li>
			   	</ul>
			   </li>
			<% end %>

		<% else %>
		  <li><%= link_to 'Login', new_session_path %></li>
		<% end %>

	    </ul>
	  </div>
	</nav>
	</div>
</header>